/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.ttf);
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Sensei';
    font-style: bold;
    font-weight: 400;
    src: local('Sensei'), url(../fonts/Sensei-Medium.otf);
}
