// Main Colors
$color-red: #aa0000;
$color-white: #ffffff;
$color-black: #181b26;
$color-grey: #454B4C;


// Secondary Colors
$color-martialarts-1: #C3272B;
$color-martialarts-1: #192236;
$color-martialarts-3: #351E1C;

$color-origamis-1: #819C8B;
$color-origamis-2: #242321;
$color-origamis-3: #FFFFFF;

$color-popculture-1: #F3C13A;
$color-popculture-2: #DC3023;
$color-popculture-3: #003171;

$color-food-1: #F9906F;
$color-food-2: #5B8930;
$color-food-3: #EEECE3;

$color-calligraphy-1: #27221F;
$color-calligraphy-2: #E2BE9F;

// Fonts
$font-body: 'Montserrat', sans-serif;
$font-title: 'Sensei', sans-serif;
