@import 'components/variables';
@import 'components/jqpuzzle';

/* background + animation
==================================================*/
.body-calligraphy .square {
  background: url("/img/calligraphie_decor_charac.png") no-repeat top center transparent;
  background-size: cover;
}
