@import 'components/variables';

.body-food {
    .square {
        background: url('/img/food.jpg') no-repeat center center;
        background-size: cover;
    }
}
.square.wrong .questionBlock {
  background:#D99193;
}
.square.right .questionBlock {
  background:#69BC80;
}
.quiz {

    .startQuizArea {
        background: $color-grey;
        width: 100%;
        padding: 1em 0;
        position:absolute;
        bottom: 10%;
        text-align:center;
    }
    #startQuiz {
        display:block;
        width:30%;
        margin: 0 auto;
        min-width: 150px;
    }
    .questionBlock  {
        position:absolute;
        bottom:0;
        width: 90%;
        padding: 5%;
        background:white;
        border-top: 6px solid $color-grey;
        .qtitle {

        }
        .choices {
            &, li {

            }
            li {
                width: 35%;
                padding: 1em;
                text-transform:none;
                margin: 1%;
                display:inline-block;
            }
        }
    }
}
