@import 'components/variables';
@import 'fontawesome/font-awesome';
@import 'components/mixins';
.body-map .square {
    background: url('/img/map.png') no-repeat top center transparent;
    background-size: cover;

}

.map {
    height: 100%;
    width: 100%;
    position: absolute;
    .elements {
        position:relative;
        height: 100%;
        width: 100%;
        .element {
            padding-left: 60px;
            margin-top: -30px;
            margin-left: -30px;
            position:absolute;
            font-size: 10px;
            @media screen and (min-device-width: 600px) {
                padding-left: 90px;
                margin-top: -45px;
                margin-left: -45px;
                .icon {
                    height: 90px;
                    width: 90px;
                }
            }
            &.disabled {
                opacity: 0.3;
            }
            .icon {
                display:inline-block;
                background-position: center center;
                background-size: contain;
                background-repeat:no-repeat;
                height: 60px;
                width: 60px;
                @media screen and (min-device-width: 600px) {
                    height: 90px;
                    width: 90px;
                }
            }
            .sign-indice {
                background:$color-white;
                padding: 0.8em;

                border-radius: 1em;
                display:inline-block;
                .indice {
                    float:left;
                    position:relative;

                    z-index: 1;
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    text-align:center;
                    background: $color-grey;
                    color:white;
                    &:before {
                        @include icon($fa-var-close);
                        line-height: 40px;
                        font-size: 20px;

                    }
                }
                .signs {
                    // This should show up only once japan impact has started
                    float:right;
                    width: 50px;
                    overflow:hidden;
                }
            }


        }
        .item-intro {
            left: 17%;
            top: 16%;
            .icon {
                background-image: url('/img/map/ojiisan.png');
            }
        }
        .item-martialarts {
            left: 55%;
            top: 27%;
            .icon {
                background-image: url('/img/map/martialarts.png');
            }
        }
        .item-calligraphy {
            left: 0%;
            top: 40%;
            .icon {
                background-image: url('/img/map/calligraphy.png');
            }
        }
        .item-origami {
            left: 55%;
            top: 53%;
            .icon {
                background-image: url('/img/map/origami.png');
            }
        }
        .item-food {
            left: 12%;
            top: 72%;
            .icon {
                background-image: url('/img/map/food.png');
            }
        }
        .item-popculture {
            left: 55%;
            top: 84%;
            .icon {
                background-image: url('/img/map/popculture.png');
            }
        }
    }
}
