//@import '/js/lib/jquery-ui/jquery-ui.min.css';

#menu  {
	float:right;
	width:25%;
	height: 100vh;
	background-color:#d0d0d0;
}

.contenu {
    height: 89vw;
    width: 74%;
    max-height: 79vh;

	padding-top: 1px;
	margin-right:79%;

	background-color: #eee;
	background-repeat: no-repeat;
	background-size: cover 100% auto;
}
.menuAccessoires {
	min-height: 20vh;
}

#menu .accessoire {
	padding-top: 1px;
	display: block;
    margin-left: auto;
    margin-right: auto;

	max-width: 80%;
	height: auto;
	display: block;
}

#droppableContenu .drag {
	padding-top: 1px;
	display: block;
	max-width: 20%;
	height: auto;
	display: block;
	img {
		max-width: 100%
	}
}

.yuki {
	max-width: 70%;
	height: auto;
	display: block;
	
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    margin-bottom: auto;
}