//@import '/js/lib/jquery-ui/jquery-ui.min.css';

#menu  {
	float:right;
	width:25%;
	height: 70vh;
	background-color:#FF3366;
}

#contenu {
	padding-top: 1px;
	margin-right:79%;
	width: 74%;
	height: 70vh;
	background-repeat: no-repeat;
	background-size: cover 100% auto;

}

.accessoire {
	padding-top: 1px;
	display: block;
    margin-left: auto;
    margin-right: auto;

	max-width: 13vh;
	height: auto;
	display: block;
}

.yuki {
	max-width: 50vh;
	height: auto;
	display: block;
	
    margin-left: auto;
    margin-right: auto;

    margin-top: 18%;
    margin-bottom: auto;
}