<script type="text/javascript" src="js/lib/jquery.jqpuzzle.full.js"></script>
<script type="text/javascript" src="js/lib/jquery-migrate-1.3.0.min.js"></script>


<div class="calligraphie">

	<div class="img">
		<h1>Bienvenue dans le monde de la calligraphie</h1>
		<p>Resolvez le puzzle suivant, cliquez sur la pièce à déplacer.</p>
		<img src="img/calligraphie.png" class="jqPuzzle jqp-r3-c3-h5" />
	</div>

	<div class="dialogue">
		<h3 class="dialogue-personnage"></h3>
		<p class="dialogue-script"></p>
		<button class="dialogue-skip" type="button">Suivant</button>
	</div>

	<div class="infoBox">

	  <div class="round-info-button-close">
	    <div class="round-info-button-circle-close">
	      <p class="round-info-button-close">x</p>
	    </div>
	  </div>


	  <h1 class="info-title">La calligraphie</h1>
	  <h2 class="info-title">Le thème</h2>
	  <p>La calligraphie est l'art de la belle écriture. La calligraphie Japonaise quant-à-elle est un des plus populaires
			Beaux-Arts du Japon et possède un sens philosophique.
			L’artiste crée son oeuvre artistique par un pinceau de bambou et avec de l’encre de Chine sur du papier au riz.</p>
	    <p>La calligraphie japonaise incarne le rapport simple et élégant, un des principes de base de l’esthétique japonaise.
				Chaques lignes et points sont refléchi de manière à obtenir un rendu harmonieux, proportionnel et équilibré.</p>
	          <h2 class="info-title">Nos choix</h2>
	      <p>La Grue du Japon est abondamment représentée sur les peintures et les dessins. Son plumage blanc et noir et sa crête
					rouge en font un sujet idéal pour les artistes-peintre. C’est pourquoi nous avons décidé de représenté l’artiste en calligraphie par une grue.</p>
	      <p>La grue est riche en symbolisme, elle représente avant toute chose la vie éternelle.</p>
	    </div>

</div>
