<script type="text/javascript" src="js/lib/jquery.jqpuzzle.full.js"></script>
<script type="text/javascript" src="js/lib/jquery-migrate-1.3.0.min.js"></script>

<h1>Bienvenue dans le monde de la calligraphie</h1>
<p>Resolvez le puzzle suivant, cliquez sur la pièce à déplacer.</p>
<div class="calligraphie">

	<div class="img">
		<img src="img/calligraphie.png" class="jqPuzzle jqp-r3-c3-h5" />
	</div>
</div>
