<script type="text/javascript" src="js/lib/jquery.jqpuzzle.full.js"></script>
<script type="text/javascript" src="js/lib/jquery-migrate-1.3.0.min.js"></script>


<div class="calligraphie">
	<h1>Calligraphie</h1>
	<div class="img">
		<img src="img/calligraphie.png" class="jqPuzzle jqp-r3-c3-h5" />
	</div>
</div>
