<script type="text/javascript" src="/js/lib/jquery.jqpuzzle.full.js"></script>
<script type="text/javascript" src="/js/lib/jquery-migrate-1.3.0.min.js"></script>

<div class="lvl-achieved">
    <h1 id="quizTXT">Bravo</h1>
    <div id="yukiQuiz" class="yuki_content"><img class="yukImage" src="/img/yuki_content.png"></img></div>
    <p id="quizResult"></p>
    <p id="msg">Tu as réussi le défi calligraphie. Akimi se sent bien mieux et elle te transmet l'indice te permettant
      de retrouver le morceau de tasse à Japan Impact.</p>
    <!--<button id='restartQuiz' class='btn'>Recommencer le puzzle !</button>-->
    <a class='btn'id="mondes" href="/">Carte</a>
</div>

<div class="calligraphie">

	<div class="img">
		<!--<h1>Bienvenue dans le monde de la calligraphie</h1>-->
		<p>Résolvez le puzzle suivant, cliquez sur la pièce à déplacer.</p>
		<img src="/img/calligraphie.png" class="jqPuzzle jqp-r3-c3-h5" />
	</div>

	<div class="dialogue">
		<h3 class="dialogue-personnage"></h3>
		<p class="dialogue-script"></p>
		<button class="btn dialogue-skip" type="button">Suivant</button>
	</div>


  <div class="infoBox">

      <div class="round-info-button-close">
          <div class="round-info-button-circle">
              <span class="round-icon icon-close"></span>
          </div>
      </div>


    <h2 class="info-title first-info-title">La calligraphie</h2>
    <p>La calligraphie est l'art de la belle écriture. La calligraphie japonaise est quant à elle un des plus populaires
			Beaux-Arts du Japon et possède un sens philosophique.
			L’artiste crée son oeuvre artistique par un pinceau de bambou et avec de l’encre de Chine sur du papier au riz.</p>
      <p>La calligraphie japonaise incarne le rapport simple et élégant, un des principes de base de l’esthétique japonaise.
				Chaque ligne et point sont refléchis de manière à obtenir un rendu harmonieux, proportionnel et équilibré.</p>
          <h2 class="info-title">Le saviez-vous ?</h2>
          <p>La meilleure position pour calligraphier est au sol avec une feutrine, contrairement à l'Occident où on a pour habitude de "peindre assis sur une chaise</p>
          <div class="inspiration">
            <h2 class="info-title">Nos inspirations</h2>
        <p>La Grue du Japon est abondamment représentée sur les peintures et les dessins. Son plumage blanc et noir et sa crête
					rouge en font un sujet idéal pour les artistes peintre. C’est pourquoi nous avons décidé de représenter l’artiste en calligraphie par une grue.</p>
        <p>La grue est riche en symbolisme, elle représente avant toute chose la vie éternelle.</p><br>
          </div>
      </div>
</div>
