<!--réussite level-->
<div class="lvl-achieved">
  <h1 id="quizTXT"></h1>
  <div id="yukiQuiz" class="yuki_content"><img class="yukImage" src="/img/yuki_content.png"></img></div>
	<p id="quizResult"></p>
	<p id="msg"></p>
  <button id='restartQuiz' class='btn'>Recommencer l'examen !</button>
  <a class='btn'id="mondes" href="/">Carte</a>
</div>

<div class="answer-right">
  <p>Bonne réponse</p>
</div>

<div class="answer-false">
  <p>Mauvaise réponse</p>
</div>

	<div class="dialogue">
		<h3 class="dialogue-personnage"></h3>
		<p class="dialogue-script"></p>
		<button class="btn dialogue-skip" type="button">Suivant</button>
	</div>

  <div id="martial-arts-info" class="infoBox">

      <div class="round-info-button-close">
          <div class="round-info-button-circle">
              <span class="round-icon icon-close"></span>
          </div>
      </div>


    <h2 class="info-title first-info-title">La nourriture</h2>
    <p>Au Japon, la consommation de nourriture est organisée autour de trois repas principaux . Le repas de midi est souvent dégusté rapidement sur les lieux de travail et l'école et est très souvent constitué de repas préparés à
      l'avance à la maison et emportés dans des gamelles japonaises appelées bento. Le repas du soir est souvent plus traditionnel et respectueux de la tradition.</p>
      <p>Contrairement à ce que nous pensons, les Japonais ne consomment qu’occasionnellement du Sushi, alors que hors du Japon ce plat est très prisé.</p>
          <h2 class="info-title">Le saviez-vous ?</h2>
          <p>Bien que délicieux, le fugu peut conduire à une issue fatale si il est mal préparé.</p>
          <p>Attention à ne jamais planter des baguettes dans un plat de riz ou de nouilles en face d'un Japonais. Il s'agit d'un rituel funéraire au cours duquel
            on dépose un bol de riz avec les baguettes plantées tout droit au chevet du défunt juste après sa mort.</p>
          <div class="inspiration">
            <h2 class="info-title">Nos inspirations</h2>
        <p>Le maître cuisinier est un tanuki. Ceci est le terme japonais habituellement utilisé pour désigner le chien viverrin. Le tanuki est souvent considéré comme symbole de bonne fortune dans la tradition
          japonaise, tout comme le chat ou le renard. Il est fréquent de voir des tanukis dans les décorations des restaurants afin de porter chance.</p><br>
          </div>
      </div>



<div class="quiz">
    <div class="startQuizArea">
        <button id="startQuiz" class="btn">Démarrer l'examen !</button>
    </div>
</div>
