<script src="/js/lib/jquery-ui/jquery-ui.min.js"></script>
  <div class="formLevel">
      Numéro :
      <input placeholder="1" type="text" id="num" value=""><br>
      Nom :
      <input placeholder="Arts Martiaux" type="text" id="nom" value=""><br>
      Code :
      <input placeholder="martialarts" "text" id="code" value=""><br>
      Date de sortie :
      <input placeholder="2016-12-31" type="text" id="date_sortie" value=""><br>
      Info supplémentaire :
      <input type="text" id="info_sup" value=""><br>
      Description :
      <input type="text" id="desc" value=""><br>
      Url :
      <input placeholder="mondes/artsmartiaux" type="text" id="url" value=""><br><br>
      <input type="submit" value="Enregister" onclick="capture();" />
  </div>
