  <div class="formLevel">
      Code :
      <input placeholder="martialarts" "text" id="code" value=""><br>
      Date de sortie :
      <input placeholder="2016-12-31" type="text" id="date_sortie" value=""><br>
      Url :
      <input placeholder="mondes/artsmartiaux" type="text" id="url" value=""><br><br>
      <input type="submit" value="Enregister" onclick="capture();" />
  </div>
