<div>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/E6KeCaXsHNE" frameborder="0" allowfullscreen></iframe>
</div>
 
<div>
{{#if auth}}
	<a href="/">Retour sur la carte</button>
{{else}}
	<a href="/">Passer la vidéo</button>
{{/if}}
</div>