<script src="/js/lib/jquery.fitvids.js"></script>
<div class="ojiisan">
    <div id="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uTHs7-7nJE4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="actions">
    {{#if user}}
    	<a class="btn back-map" href="/">Retour aux mondes</a>
    {{else}}
    	<a class="btn tologin" href="/login">Commencer le jeu</a>
        <p style="color:white">Cliquez pour se connecter et commencer le jeu!</p>
    {{/if}}
    </div>
</div>
