<h1>login</h1>

<form id="signUp-form" action="">
  Pseudo:<br>
  <input type="text" name="pseudo" placeholder="Kevin99"><br>
  Adresse email:<br>
  <input type="text" name="email" placeholder="kevin.tomba@gmail.com"><br>
  Mot de passe:<br>
  <input type="text" name="password" placeholder="******"><br>
  Confirmation de mot de passe:<br>
  <input type="text" name="rePassword" placeholder="******"><br><br>
  <input id="signUp" type="submit" value="Submit">
</form>
