<script src="/js/lib/jquery-ui/jquery-ui.min.js"></script>

<div class="loginPage">
  <h3>S'identifier</h3>

  <div class="login">
    <div class="form">
      <div class="form-item">
        <input id="identifier" type="text" name="pseudo" placeholder="Identifiant">
      </div>
      <div class="form-item">
        <input id="pwd" type="password" name="password" placeholder="Mot de passe">
      </div>
      <div class="submit-area">
        <button class="submit login" id="loginBtn">S'identifier</button>
      </div>
    </div>
    <div id="loginError" class="msgContainer"></div>
  </div>

  <h3>Nouveau compte</h3>
  <div class="register">

    <!--<form id="signUp-form" action="">-->
    <div class="form">
      <div class="form-item">
        <input id="pseudo" type="text" name="pseudo" placeholder="Pseudo">
        <div class="msgContainer" id="pseudoError"></div>
      </div>
      <div class="form-item">
        <input id="email" type="email" class="verif-email" name="email" placeholder="Adresse email">
        <div class="msgContainer" id="emailError"></div>
      </div>
      <div class="form-item">
        <input id="password" type="password" name="password" placeholder="Mot de passe">
        <div class="msgContainer" id="pwError"></div>
      </div>
      <div class="form-item">
        <input id="rePassword" type="password" name="rePassword" placeholder="Confirmation">
        <div class="msgContainer" id="rePwError"></div>
      </div>


      <div class="submit-area">
        <button class="submit register" id="signUpBtn">S'enregistrer</button>
      </div>
    </div>
    <!--</form>-->
  </div>

</div>
