<a class='w3-btn-floating plus-one'>up up up</a>
<a class='w3-btn-floating minus-one'>down down down</a>
<div class="map">
    <div class="elements">
        <div class="element item-intro" title="Introduction">
            <a href="/mondes/ojiisan"></a>
        </div>
        <div class="element item-martialarts disabled" title="Arts Martiaux">
          <div class='indice'>
              <img class="mySlides MA-1" src="http://www.windowsmode.com/wp-content/uploads/2015/08/Black-and-White-Batman-200x200.jpg">
              <img class="mySlides MA-2" src="http://a4.mzstatic.com/us/r1000/085/Purple/v4/e0/51/fd/e051fdaf-5def-fec8-52ee-eb6f3c6c0bad/mza_332782368144105002.200x200-75.png">
              <img class="mySlides MA-3" src="http://www.dhresource.com/albu_977719864_00/1.200x200.jpg">
              <img class="mySlides MA-4" src="http://i0.wp.com/batman-news.com/wp-content/uploads/2015/02/Bat38.jpg">
          </div>
        </div>
        <div class="element item-calligraphy disabled" title="Calligraphie">
        </div>
        <div class="element item-origami disabled" title="Origamis">
        </div>
        <div class="element item-food disabled" title="Nourriture">
        </div>
        <div class="element item-popculture disabled" title="Pop Culture">
        </div>
    </div>
</div>
