<!--<a class='w3-btn-floating plus-one'>up up up</a>
<a class='w3-btn-floating minus-one'>down down down</a>-->
<div class="map">
    <div class="elements">
        <div class="element item-intro" title="Introduction">
            <a class="icon" href="/mondes/ojiisan"></a>
            <p class="world-title">Introduction</p>
        </div>
        <div class="element item-martialarts disabled" title="Arts Martiaux">
          <a class="icon" href="#"></a>
          <p class="world-title">Arts Martiaux</p>
        </div>
        <div class="element item-calligraphy disabled" title="Calligraphie">
            <a class="icon" href="#"></a>
            <p class="world-title">Calligraphie</p>
        </div>
        <div class="element item-origami disabled" title="Origamis">
            <a class="icon" href="#"></a>
            <p class="world-title">Origamis</p>
        </div>
        <div class="element item-food disabled" title="Nourriture">
            <a class="icon" href="#"></a>
            <p class="world-title">Nourriture</p>
        </div>
        <div class="element item-popculture disabled" title="Pop Culture">
            <a class="icon" href="#"></a>
            <p class="world-title">Pop Culture</p>
        </div>
    </div>
</div>
<div style="display:none" class="modal-bg popupClose">

</div>


<div class="lvl-achieved" style="display:none">
  <div class="yuki_content"><img class="yukImage" src="/img/yuki_content.png"></img></div>
  <p id="msg">Bravo, tu as trouvé tous les indices permettant à Yuki de trouver les morceaux de la tasse. L'aventure n'est pas encore terminée, afin d'aider Yuki, va à <span class="jImpact">Japan Impact</span> et retrouve les clés qui te permettront d'assembler la tasse sur place.
  En attendant profite d'améliorer tes scores! A bientôt!</p>
  <a class='btn'id="mondes">Carte</a>
</div>
<!--
    POPUPS
-->
<div class="popup popup-martialarts" style="display:none;">
    <div class="popup-close popupClose"></div>
    <div class="popup-header"></div>
    <h2>Monde des Arts Martiaux</h2>
    <div class="enterWorld"><a class="btn enter" href="#">Entre dans le monde !</a></div>
    <div class="popup-content">
        <div class="sign-indice" style="display:none;">
            <div class="indice-wrapper">
                <div class="indice">
                </div>
                <p class="text">Indice non disponible</p>

            </div>
            <div style="display:none;" class='signs'>
                <p>Entre la clé obtenue à la japan impact grâce à l'indice !</p>
                  <select class="sign-martialarts">
                      <option value="0">&nbsp;</option>
                  </select>
            </div>

          </div>
    </div>
</div>

<div class="popup popup-calligraphy" style="display:none;">
    <div class="popup-close popupClose"></div>
    <div class="popup-header"></div>
    <h2>Monde de la calligraphie</h2>
    <div class="enterWorld"><a class="btn enter" href="#">Entre dans le monde !</a></div>
    <div class="popup-content">
        <div class="sign-indice" style="display:none;">
            <div class="indice-wrapper">
                <div class="indice">
                </div>
                <p class="text">Indice non disponible</p>

            </div>
            <div style="display:none;" class='signs'>
                <p>Entre la clé obtenue à la japan impact grâce à l'indice !</p>
                  <select class="sign-calligraphy">
                      <option value="0">&nbsp;</option>
                  </select>
            </div>

          </div>
    </div>
</div>

<div class="popup popup-origami" style="display:none;">
    <div class="popup-close popupClose"></div>
    <div class="popup-header"></div>
    <h2>Monde des Origamis</h2>
    <div class="enterWorld"><a class="btn enter" href="#">Entre dans le monde !</a></div>
    <div class="popup-content">
        <div class="sign-indice" style="display:none;">
            <div class="indice-wrapper">
                <div class="indice">
                </div>
                <p class="text">Indice non disponible</p>

            </div>
            <div style="display:none;" class='signs'>
                <p>Entre la clé obtenue à la japan impact grâce à l'indice !</p>
                  <select class="sign-origami">
                      <option value="0">&nbsp;</option>
                  </select>
            </div>

          </div>
    </div>
</div>


<div class="popup popup-food" style="display:none;">
    <div class="popup-close popupClose"></div>
    <div class="popup-header"></div>
    <h2>Monde de la nourriture</h2>
    <div class="enterWorld"><a class="btn enter" href="#">Entre dans le monde !</a></div>
    <div class="popup-content">
        <div class="sign-indice" style="display:none;">
            <div class="indice-wrapper">
                <div class="indice">
                </div>
                <p class="text">Indice non disponible</p>

            </div>
            <div style="display:none;" class='signs'>
                <p>Entre la clé obtenue à la japan impact grâce à l'indice !</p>
                  <select class="sign-food">
                      <option value="0">&nbsp;</option>
                  </select>
            </div>

          </div>
    </div>
</div>


<div class="popup popup-popculture" style="display:none;">
    <div class="popup-close popupClose"></div>
    <div class="popup-header"></div>
    <h2>Monde de la Pop Culture</h2>
    <div class="enterWorld"><a class="btn enter" href="#">Entre dans le monde !</a></div>
    <div class="popup-content">
        <div class="sign-indice" style="display:none;">
            <div class="indice-wrapper">
                <div class="indice">
                </div>
                <p class="text">Indice non disponible</p>
            </div>
            <div style="display:none;" class='signs'>
                <p>Entre la clé obtenue à la japan impact grâce à l'indice !</p>
                  <select class="sign-popculture">
                      <option value="0">&nbsp;</option>
                  </select>
            </div>

          </div>
    </div>
</div>
















<div id="keyBtn">

</div>
