<!--<a class='w3-btn-floating plus-one'>up up up</a>
<a class='w3-btn-floating minus-one'>down down down</a>-->
<div class="map">
    <div class="elements">
        <div class="element item-intro" title="Introduction">
            <a class="icon" href="/mondes/ojiisan"></a>
        </div>
        <div class="element item-martialarts disabled" title="Arts Martiaux">
          <a class="icon" href="#"></a>
          <div class="sign-indice" style="display:none;">
              <div class="indice">

              </div>
              <div class='signs'>
                    <select style="display:none;" class="sign-martialarts">
                        <option>Clé</option>
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                    </select>
              </div>

            </div>
        </div>
        <div class="element item-calligraphy disabled" title="Calligraphie">
            <a class="icon" href="#"></a>
            <div class="sign-indice" style="display:none;" >
                <div class="indice">

                </div>
                <div class='signs'>
                    <select style="display:none" class="sign-calligraphy">
                        <option>Clé</option>
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="element item-origami disabled" title="Origamis">
            <a class="icon" href="#"></a>
            <div class="sign-indice"  style="display:none;">
                <div class="indice">

                </div>
                <div class='signs'>
                    <select style="display:none" class="sign-origami">
                        <option>Clé</option>
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="element item-food disabled" title="Nourriture">
            <a class="icon" href="#"></a>
            <div class="sign-indice" style="display:none;" >
                <div class="indice">

                </div>
                <div class='signs'>
                    <select style="display:none" class="sign-food">
                        <option>Clé</option>
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="element item-popculture disabled" title="Pop Culture">
            <a class="icon" href="#"></a>
            <div class="sign-indice" style="display:none;" >
                <div class="indice">

                </div>
                <div class='signs'>
                    <select style="display:none" class="sign-popculture">
                        <option>Clé</option>
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
