<div class="map">
    <div class="elements">
        <div class="element item-intro" title="Introduction">
            <a href="/introduction"></a>
        </div>
        <div class="element item-martialarts disabled" title="Arts Martiaux">
        </div>
        <div class="element item-calligraphy disabled" title="Calligraphie">
        </div>
        <div class="element item-origami disabled" title="Origamis">
        </div>
        <div class="element item-food disabled" title="Nourriture">
        </div>
        <div class="element item-popculture disabled" title="Pop Culture">
        </div>
    </div>
</div>
