<!--<a class='w3-btn-floating plus-one'>up up up</a>
<a class='w3-btn-floating minus-one'>down down down</a>-->
<div class="map">
    <div class="elements">
        <div class="element item-intro" title="Introduction">
            <a class="icon" href="/mondes/ojiisan"></a>
            <p class="world-title">Introduction</p>
        </div>
        <div class="element item-martialarts disabled" title="Arts Martiaux">
          <a class="icon" href="#"></a>
          <div class="sign-indice" style="display:none;">
              <div class="indice">

              </div>
              <div style="display:none;" class='signs'>
                  Clé ?
                    <select class="sign-martialarts">
                        <option value="0">&nbsp;</option>
                    </select>
              </div>

            </div>
            <p class="world-title">Arts Martiaux</p>
        </div>
        <div class="element item-calligraphy disabled" title="Calligraphie">
            <a class="icon" href="#"></a>
            <div class="sign-indice" style="display:none;" >
                <div class="indice">

                </div>
                <div style="display:none" class='signs'>
                    Clé ?
                    <select class="sign-calligraphy">
                        <option value="0">&nbsp;</option>
                    </select>
                </div>
            </div>
            <p class="world-title">Calligraphie</p>
        </div>
        <div class="element item-origami disabled" title="Origamis">
            <a class="icon" href="#"></a>
            <div class="sign-indice"  style="display:none;">
                <div class="indice">

                </div>
                <div style="display:none" class='signs'>
                    Clé ?
                    <select class="sign-origami">
                        <option value="0">&nbsp;</option>
                    </select>
                </div>
            </div>
            <p class="world-title">Origamis</p>
        </div>
        <div class="element item-food disabled" title="Nourriture">
            <a class="icon" href="#"></a>
            <div class="sign-indice" style="display:none;" >
                <div class="indice">

                </div>
                <div style="display:none" class='signs'>
                    Clé ?
                    <select class="sign-food">
                        <option value="0">&nbsp;</option>
                    </select>
                </div>
            </div>
            <p class="world-title">Nourriture</p>
        </div>
        <div class="element item-popculture disabled" title="Pop Culture">
            <div class="popup">
                <div class="popup_close">Close</div>
                <div class="popup-header">This is a header</div>
                <div class="popup-content">test content</div>
                </div>
            </div>
            <a class="icon" href="#"></a>
            <div class="sign-indice" style="display:none;" >
                <div class="indice">

                </div>
                <div style="display:none" class='signs'>
                    Clé ?
                    <select class="sign-popculture">
                        <option value="0">&nbsp;</option>
                    </select>
                </div>
            </div>
            <p class="world-title">Pop Culture</p>
        </div>
    </div>
    <div class="combinaisonBox" style="display: none">
      <p>Bravo tu possèdes la bonne combinaison :</p>
      <p id="combinaison"></p>
      <p>
        rendez-vous à la salle du coffre.
      </p>
    </div>
</div>
<div style="display:none" class="modal-bg">

</div>
