<div id="martialArtsDialogue" class="discussionContainer">
 <h3>Maitre Kaio</h3>
 <p id="martialArtsBubble1">Salut Yuki, es-tu prêt à découvrire le monde formidable des arts-martiaux?</p>
 <p id="martialArtsBubble2">Alors c'est parti !</p>
 <p id="martialArtsBubble3">Nous allons enchainer quelques Kata ensemble mon petit Yuki chéri.</p>
 <p id="martialArtsBubble5">Voici le kata N°<span></span></p>
 <p id="martialArtsBubble4"><span id="retry"></span>Essayes d'éxecuter le kata N°<span id="nbrKata"></span></p>
 <button class="martialArtsNextBtn" type="button">Suivant</button>
<div id="kataASaisir">
</div>
</div>

<div id=spriteYuki>
  <img src="/img/sprites/yuki_face.png" alt="sprite de yuki"></img>
</div>

<div id="inputBox" class="discussionContainer">
<div id="progressBar"><div class="progress"></div></div>

<div id="btnBox">
 <div class="martialArtsBtn" id="btnPoing">
   <img src="img/punch.png" alt="poing" />
 </div>

 <div class="martialArtsBtn" id="btnPied">
   <img src="img/kick.png" alt="poing" />
 </div>

 <div class="martialArtsBtn" id="btnJump">
   <img src="img/jump.png" alt="poing" />
 </div>

 <div class="martialArtsBtn" id="btnSpe">
   <img src="img/special.png" alt="poing" />
 </div>
 </div>
</div>
