<h1>Martial Arts</h1>
<p id="martialArtsBubble1">Singe: Salut Yuki, es-tu prêt à découvrire le monde formidable des arts-martiaux?</p>
<p id="martialArtsBubble2">Singe: Alors c'est parti !</p>
<p id="martialArtsBubble3">Nous allons enchainer quelques Kata ensemble mon petit Yuki chéri.</p>
<p id="martialArtsBubble4">Le premier kata s'appelle les 7 katastrophe LOOOL MDR.</p>
<button class="martialArtsNextBtn" type="button">Suivant</button>


<div class="martialArtsBtn" id="btnPoing">
        <img src="img/punch.png" alt="poing" />
</div>

<div class="martialArtsBtn" id="btnPied">
        <img src="img/kick.png" alt="poing" />
</div>

<div class="martialArtsBtn" id="btnJump">
        <img src="img/jump.png" alt="poing" />
</div>

<div class="martialArtsBtn" id="btnSpe">
        <img src="img/special.png" alt="poing" />
</div>
