<h1>Martial Arts</h1>
<button class="martialArtsNextBtn" type="button">Suivant</button>
<button id="btnPoing" type="button">Poing</button>
<button id="btnPied" type="button">Pied</button>
<button id="btnSpe" type="button">Special</button>
