<h1>Martial Arts</h1>

<div class="discussionContainer">
 <h3>Maitre Kaio :</h3>
 <p id="martialArtsBubble1">Salut Yuki, es-tu prêt à découvrire le monde formidable des arts-martiaux?</p>
 <p id="martialArtsBubble2">Singe: Alors c'est parti !</p>
 <p id="martialArtsBubble3">Nous allons enchainer quelques Kata ensemble mon petit Yuki chéri.</p>
 <p id="martialArtsBubble4">Allons-y avec le kata N°<span id="nbrKata"></span></p>
 <button class="martialArtsNextBtn" type="button">Suivant</button>

 <div class="martialArtsBtn" id="btnPoing">
   <img src="img/punch.png" alt="poing" />
 </div>

 <div class="martialArtsBtn" id="btnPied">
   <img src="img/kick.png" alt="poing" />
 </div>

 <div class="martialArtsBtn" id="btnJump">
   <img src="img/jump.png" alt="poing" />
 </div>

 <div class="martialArtsBtn" id="btnSpe">
   <img src="img/special.png" alt="poing" />
 </div>

</div>
