<div id="martialArtsDialogue" class="discussionContainer">
 <h3>Maitre Kaio</h3>
 <p id="martialArtsBubble1">Bonjour Yuki, es-tu prêt à découvrir le monde formidable des arts-martiaux ?</p>
 <p id="martialArtsBubble2">Je te présenterai un Kata quelques secondes, puis se sera à ton tour de l'exécuter.</p>
 <p id="martialArtsBubble3">Alors... es-tu prêt ?</p>
 <p id="martialArtsBubble5">Voici le kata N°<span></span></p>
 <span id="retry"><br></span><p id="martialArtsBubble4">Essayes d'exécuter le kata N°<span id="nbrKata"></span></p>
 <button class="martialArtsNextBtn" type="button">Suivant</button>
<div id="kataASaisir">
</div>
</div>

<div id=spriteYuki>
  <img id="yuki_face" src="/img/sprites/yuki_face.png" alt="sprite de yuki de face"></img>
  <img id="yuki_profil" src="/img/sprites/yuki_profil.png" alt="sprite de yuki de profil"></img>
  <img id="yuki_poing" src="/img/sprites/yuki_poing.png" alt="sprite de yuki poing"></img>
  <img id="yuki_pied" src="/img/sprites/yuki_pied.png" alt="sprite de yuki coup de pied"></img>
  <img id="yuki_saut" src="/img/sprites/yuki_saut.png" alt="sprite de yuki sautant"></img>
  <img id="yuki_poingDeFeu" src="/img/sprites/yuki_poingDeFeu.png" alt="sprite de yuki spécial"></img>
  <img id="yuki_tombe" src="/img/sprites/yuki_tombe.png" alt="sprite de yuki échec"></img>
</div>

<div id="inputBox" class="discussionContainer">
<div id="progressBar"><div class="progress"></div></div>

<div id="btnBox">
 <div class="martialArtsBtn" id="btnPoing">
   <img src="img/punch.png" alt="poing" />
 </div>

 <div class="martialArtsBtn" id="btnPied">
   <img src="img/kick.png" alt="poing" />
 </div>

 <div class="martialArtsBtn" id="btnJump">
   <img src="img/jump.png" alt="poing" />
 </div>

 <div class="martialArtsBtn" id="btnSpe">
   <img src="img/special.png" alt="poing" />
 </div>
 </div>
</div>
