<script src="http://www.youtube.com/player_api"></script>

<div class="ojiisan">
    <!-- <div id="video">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/b7ZMKRmhIXI" frameborder="0" allowfullscreen></iframe>
     </div>-->
     <div class="outer-video">
         <div id="player1"></div>
    </div>

    <div id="selection"></div>

    <div class="outer-video">
        <div id="player2"></div>
    </div>
    <div class="lvl-achieved">
      <div class="yuki_content"><img class="yukImage" src="/img/yuki_content.png"></img></div>
      <p id="quizResult"></p>
      <p id="msg">Bravo, tu as réussi à éteindre le pont en feu et à trouver l'indice (disponible depuis la carte) te permettant de retrouver le morceau de tasse à <span class=\"jImpact\">Japan Impact</span>.</p>
      <a class='btn'id="mondes" href="/">Carte</a>
    </div>
</div>
