<script src="/js/lib/jquery.fitvids.js"></script>

<div class="ojiisan">
    <h1>Origamis</h1>
    <!-- <div id="video">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/b7ZMKRmhIXI" frameborder="0" allowfullscreen></iframe>
     </div>-->

    <div id="player1"></div>


    <script src="http://www.youtube.com/player_api"></script>
    <script>
        $("#player_wrapper").fitVids();
    </script>
    <div id="selection"></div>


    <div id="player2"></div>

    <div id="buttons">
        <button id="back" class='btn' >Retour</button>
    </div>
    <div id="map">
        <button id='back' class='btn' ><a href='/'>Retour à la carte</a></button>
    </div>


</div>
