<script src="/js/lib/jquery.fitvids.js"></script>

<div class="ojiisan">
    <!-- <div id="video">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/b7ZMKRmhIXI" frameborder="0" allowfullscreen></iframe>
     </div>-->
     <div class="outer">
    <div id="player1"></div>
    </div>
    <script src="http://www.youtube.com/player_api"></script>
    <script>
        $("#player_wrapper").fitVids();
    </script>
    <div id="selection"></div>


    <div id="player2"></div>
    <div class="lvl-achieved">
      <div class="yuki_content"><img class="yukImage" src="/img/yuki_content.png"></img></div>
      <p id="quizResult"></p>
      <p id="msg">Bravo, tu as réussi à éteindre le pont en feu et à sauver le monde Origami. Tu as reçu un indice pour continuer ta quête à la <span class="jImpact">Japan Impact</span>.</p>
      <a class='btn'id="mondes" href="/">Carte</a>
    </div>
</div>
