<script src="http://www.youtube.com/player_api"></script>
<div class="videoFin">
    <div class="outer-video">
        <div id="player"></div>
    </div>
    <div class="actions">
    	<a class="btn back-map" href="/">Retour aux mondes</a>
    </div>
</div>
