<script src="/js/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="/js/lib/jquery.ui.touch-punch.min.js"></script>

<div class="container">
    <br /><br />
<p class="drag">asdf</p>
<br /><br />
</div>
