<script src="/js/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="/js/lib/jquery.ui.touch-punch.min.js"></script>

<div id="main">
 	<div id="menu">
 		<div class="drag">
 			<img src="img/yuki.png" class="yuki" />	
 		</div>
 	</div>

 	<div id="contenu">
 		<img src="img/yuki.png" class="yuki" />	
 	</div>
</div>

