<script src="/js/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="/js/lib/jquery.ui.touch-punch.min.js"></script>
<script src="/js/lib/html2canvas.js"></script>

<div id="main">
 	<div id="menu">
 		<div class="btnAccessoires"> Accessoires </div>
 		<div class="menuAccessoires" id="droppableMenu">
	 		<div class="drag" id="1">
	 			<img src="img/06.gif" class="accessoire" />
	 		</div><div class="drag" id="2">
	 			<img src="img/black.png" class="accessoire" />	
	 		</div>
 		</div>
 		<div class="btnFonds"> Fonds </div>
 		<div class="menuFonds">
 			<img src="img/png1.jpg" class="accessoire" id="fondsImg1" />
 			<img src="img/3.jpg" class="accessoire" id="fondsImg2" />
 		</div>
 	</div>

 	<div class="contenu" id="droppableContenu">
 	 	<img src="img/yuki.png" class="yuki" />	
 	</div>
 	<div id="boutton">
 		Sauvegarder image
 	</div>
</div>
