<script src="/js/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="/js/lib/jquery.ui.touch-punch.min.js"></script>
<script src="/js/lib/html2canvas.js"></script>

<div class="dialogue">
  <h3 class="dialogue-personnage"></h3>
  <p class="dialogue-script"></p>
  <button class="btn dialogue-skip" type="button">Suivant</button>
</div>

<div class="infoBox">

  <div class="round-info-button-close">
    <div class="round-info-button-circle-close">
      <p class="round-info-button-close">x</p>
    </div>
  </div>


  <h1 class="info-title">La pop culture</h1>
  <h2 class="info-title">Le thème</h2>
  <p>La pop culture japonaise regroupe notamment la mode, les dessins animés, et les mangas.
    Elle captive les jeune au Japon mais également partout dans le monde. Cette culture est centrée sur la jeunesse et
    atteint un niveau de sophistication de plus en plus poussé car elle s’est développée et raffinée dans le quotidien.</p>
    <p>La tendance kawaii peut être trouvée un peu partout au Japon. Kawaii est un adjectif japonais significant « mignon »,
      « adorable ». Cette tendance renforce aussi la mode qui consiste à s'habiller avec des vêtements trop petits pour accentuer
      le côté enfantin de la personne qui les porte. Elle est souvent inspirée des animes. </p>
          <h2 class="info-title">Nos choix</h2>
      <p>Le chat a plusieurs significations au Japon. Le Maneki-neko, lui, est un bon esprit représenté par un chat qui a une patte levée.. Aussi appelé « chat bonheur »,
        « chat qui appelle » ou « chat qui salue », le Maneki-neko, est très populaire au Japon. Il  apporterait félicité et écarterait des malheurs ou des maladies.</p>
      <p>L’esprit de la pop culture est très présent dans les grandes villes. Takeshita street, une rue piétonne très animée de Tokyo, est considérée comme un lieu culte
        de la tendance pop culture. </p>
    </div>

<div id="main">
    <div class="toppart">
     	<div id="menu">
     		<div class="menuAccessoires" id="droppableMenu"></div>
     	</div>

     	<div id="purikura">

    	 	<div class="contenu square-element" id="droppableContenu" style="background:white">

    	 	 	<img src="/img/jeu_popculture/yuki.png" class="yuki" />

    	 	</div>


     	</div>
    </div>
    <div class="bandeInf">
        <form method="POST"
        enctype="multipart/form-data"
        action="/api/picture/upload"
        id="myForm">
            <input type="hidden" name="img" id="img" value="" />
        </form>
        <div class="yukidl"><input id="photoBouton" class="btn" type="submit" value="Télécharge ton Yuki !" onclick="capture();" />
        </div>

        <h2>Choisis ton fond !</h2>
        <div class="menuFonds">
            <div class="imgJeu">
                <img src="/img/jeu_popculture/fonds/arts-martiaux.png" class="fond" id="fondsImg1">
            </div>
            <div class="imgJeu">
                <img src="/img/jeu_popculture/fonds/calligraphie.png" class="fond" id="fondsImg2">
            </div>
        </div>


    </div>
</div>
