<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/{{pagename}}.css"
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
  <script type="text/javascript" src="/js/lib/jquery.min.js"></script>
</head>
<body>

  <div class="square">
      <div class="content">
  {{{body}}}
      </div>
  <script type="text/javascript" src="/js/{{pagename}}.js"></script>
  </div>
</body>
</html>
